@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto-Regular.ttf');
}

.root {
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;

    -primary-color: #1565c0;
    -primary-color-text: rgba(255, 255, 255, .84);

    -primary-color-light: rgba(25, 118, 210, 0.70);
    -primary-color-light-text: rgba(255, 255, 255, 0.84);

    -primary-color-dark: #0D47A1;
    -primary-color-dark-text: rgba(255, 255, 255, 0.84);

    -secondary-color: white;
    -secondary-color-text: rgba(0, 0, 0, 0.92);

    -secondary-color-light: white;
    -secondary-color-light-text: rgba(0, 0, 0, 0.92);

    -secondary-color-dark: white;
    -secondary-color-dark-text: rgba(0, 0, 0, 0.92);
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: -primary-color-dark-text;
    -fx-font-size: 18pt; /* all the same except this newly added one */
}

.tab .tab-label .glyph-icon {
    -fx-fill: -primary-color-dark-text;
}

.jfx-tab-pane .headers-region, .jfx-tab-pane .tab-header-background {
    -fx-background-color: -primary-color-dark;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: -primary-color-dark-text;
}

.jfx-tab-pane .headers-region > .tab-selected-line{
    -fx-background-color: -primary-color-dark-text;
    -fx-pref-width: 1px !important;
    -fx-pref-height: 2px;
}

.jfx-slider .thumb, .jfx-slider .colored-track{
    -fx-background-color: -primary-color;
}

.jfx-slider .animated-thumb {
    -fx-background-color: -primary-color;
}

.jfx-radio-button {
    -jfx-selected-color: -primary-color;
}

.jfx-tree-table-view .column-header .label {
    -fx-text-fill: black;
}

.jfx-tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected {
    -fx-background-color: -primary-color-light;
    -fx-table-cell-border-color: -secondary-color;
    -fx-text-fill: -primary-color-light-text;
}

.jfx-button {
    -fx-background-color: -primary-color;
    -fx-text-fill: -primary-color-text;
}

.jfx-button .ikonli-font-icon {
    -fx-icon-color: -primary-color-text;
}

.jfx-button .jfx-rippler {
    -jfx-rippler-fill: -primary-color-text;
}

.jfx-text-field {
    -jfx-focus-color: -primary-color;
}

.jfx-password-field {
    -jfx-focus-color: -primary-color;
}

.jfx-check-box {
    -jfx-checked-color: -primary-color;
    -jfx-unchecked-color: black;
}

.jfx-progress-bar > .bar{
    -fx-background-color: -primary-color;
}

.jfx-spinner .arc {
    -fx-stroke: -primary-color;
}

.sidebar-button .glyph-icon {
    -fx-fill: -secondary-color-text;
}

.sidebar-button .jfx-rippler {
    -jfx-rippler-fill: -primary-color-light;
}

.popup-button {
    -fx-font-size: 18pt;
    -fx-background-radius: 0px;
    -fx-background-color: -secondary-color;
    -fx-text-fill: -secondary-color-text;
}

.popup-button .jfx-rippler {
    -jfx-rippler-fill: -secondary-color-text;
}

.main-menu-button {
    -fx-background-radius: 6.5em;
    -fx-font-size: 100pt;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.40), 10, 0.0, 5, 5);
}

.label {
    -fx-text-fill: black;
}

.small-text {
    -fx-font-size: 10pt;
}

.regular-text {
    -fx-font-size: 12pt;
}

.medium-text {
    -fx-font-size: 14pt;
}

.heading-text {
    -fx-font-size: 18pt;
}

.large-text {
    -fx-font-size: 20pt;
}

.huge-text {
    -fx-font-size: 24pt;
}

#informationButton {
    -fx-padding: 0 10 0 10;
    -fx-alignment: CENTER;
    -fx-background-color: rgba(255, 255, 255, 0);
}

#loginBox, #centerPane {
    -fx-background-color: #F5F5F5;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#logoutButton {
    -fx-font-size: 12pt;
}

#flowerServiceTablePane {
    -fx-font-size: 18pt;
}

#loginButton {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.40), 6, 0.0, 3, 3);
}